<%= form_for(@xpto) do |f| %>
  <% if @xpto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xpto.errors.count, "error") %> prohibited this xpto from being saved:</h2>

      <ul>
      <% @xpto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :a %><br />
    <%= f.text_field :a %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
